* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 0px 10px #000;;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    display: flex;
    justify-content: space-between;
    height: 33%;
}

section.middle-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.bottom-section {
    align-items: end;
}

.crypto-top {
    display: flex;
    align-items: center;
}

.crypto-top img {
    width: 100px;
    padding: 1em;
}

.crypto-status-img {
    width: 30px;
    filter: invert(50%);
    margin: 0.1em 1em;
}

.crypto-bottom div {
    display: flex;
    align-items: center;
}